*{
  margin:0;
  padding:0;
}
html,body{
  width:100%;
  height:100%;
  background-color: rgb(170, 170, 170);
}
.main{
  display: flex;
  flex-wrap: wrap;
}
.child{
  width: 180px;
  height: 300px;
  border: 1px black solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 10px 10px;
}
.child img{
  width: 160px;
}